    /**/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #fff;
    padding: 0.5em;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Muli', sans-serif;
    font-size: 0.7em;
    color: #fff;
    padding: 1em;
}


/*
Header
*/

header {
    display: flex;
    flex-direction: row;
}

#logo {
    width: 13em;
    height: 3em;
    margin-top: 1em;
}


/*
Slider
*/

aside {
    top: 6em;
    left: 0em;
    border-radius: 0em 0em 1em 0em;
    z-index: 4;
    display: flex;
    position: absolute;
    max-width: 50vw;
    height: 30em;
    background-color: #FF3268;
}

form {
    margin-left: 60px;
}

#button {
    position: absolute;
    right: 0;
    top: 0em;
    min-width: 4.3em;
    height: 4em;
    background-color: #FF3268;
    border-radius: 0em 1em 1em 0em;
    z-index: 3;
    background-image: url("./img/filterbar.png");
    background-position: center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    transform: translateX(98%);
}

.removal {
    transform: translateX(-100%);
}

select {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3em -2em 3em;
    margin-top: 2em;
    border-radius: 1em;
    border: solid 0.3em;
    height: 4em;
    text-align-last: center;
    width: 100%;
    padding-bottom: 0.1em;
    background-color: #FF3268;
    -webkit-appearance: none;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 0.7em;
    background: url(./img/arrow.png) no-repeat;
    background-size: 1em;
    background-position: 9em 1.3em;
}

form > label {
    position: relative;
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    display: inline-block;
    margin-left: -2em;
    text-align: center;
    box-sizing: border-box;
}

form > div {
    display: flex;
    margin-left: -2em;
    justify-content: space-between;
    font-size: 1em;
}

form > div p:last-child {
    padding-right: 2em;
}

input[type="range"] {
    width: 100%;
    height: 1em;
    margin-left: -2em;
    -webkit-appearance: none;
    border-radius: 2em;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0.2em solid #FF3268;
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2px;
}


/*
Main header
*/

main {
    padding-bottom: 3em;
}

main > header >img {
    width: 100%;
    position: relative;
    width: 100%;
    height: 20vh;
    top: 1em;
    z-index: -1;
    margin-top: 0.5em;
    margin-bottom: 3em;
}

header > a > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Muli', sans-serif;
    color: #fff;
    padding: 1em 2em;
    border-radius: 2em;
    border-style: none;
    background-color: #FF3268;
    list-style: none;
    padding: 1em 1.0em 0.5em 1.0em;
    position: absolute;
    right: 1em;
    top: 14em;
    z-index: 2;
    vertical-align: middle;
    box-shadow: 0px 5px 0px -2px rgba(185, 31, 72, 0.73);
}

main > article {
    max-width: 30em;
    margin: auto;
}


/*
Navigatie
*/

nav {
    margin: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
}

nav.fade {
    opacity: 0.6;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

main nav ul li {
    margin: .5em;
    flex-basis: 42.5%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    list-style-type: none;
    border-style: none;
    color: #fff;
    width: 12.5em;
    border-radius: 1em;
}

man nav ul:hover {
    transform: scale(1.1);
}

li article {
    overflow: hidden;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 5em;
    width: 12em;
    top: 23em;
    left: 5em;
    background: #FF3268;
    border-radius: 1em;
    z-index: 2;
    float: left;
    display: none;   

}

.popup > p:first-of-type {
    border-bottom: solid 0.1em;

    }
.popup > p:nth-of-type {
    border-bottom: solid 0.1em;

    }
.popup img{
    height: 1.2em;
    float: right;
    position: relative;
    top:-1.8em;
    right: 1em;
}
.popup img:hover{
transform: scale(1.2)    
}

.popdown {
    display: block;
}

article img:first-child {
    max-width: 80%;
    border-radius: 1em;
    padding: 0.8em;
}

article img:last-child {
    width: 20%;
    float: right;
    padding: 1em;
}

article img:last-child:hover {
    transform: scale(1.5)
}

main nav li:nth-of-type(3n + 1) {
    background-color: #FF3268;
}

main nav li:nth-of-type(3n + 2) {
    background-color: #00D66C;
}

main nav li:nth-of-type(3n + 3) {
    background-color: #01559A;
}

header >div {
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
}

header > div > div:first-child {
    margin-top: 0.2em;
}

header > div > div:last-child {
    margin-top: 2em;
    margin-bottom: 2em;
}

.userholder {
    height: 3em;
    width: 3em;
    border-radius: 0.5em;
    background-color: #FF3268;
    position: absolute;
    right: 1.5em;
    top: 1em;
    background-image: url("./img/user.png");
    background-position: center;
    background-size: 1.3em;
    background-repeat: no-repeat;
}

#wrap {
    margin: 2em 3em;
    display: inline-block;
    position: absolute;
    height: 3em;
    float: right;
    padding: 1em;
    top: -0.8em;
    right: 2.2em;
}

input[type="text"] {
    height: 2em;
    font-size: 0.8em;
    display: inline-block;
    font-family: 'Muli', sans-serif;
    outline: none;
    border: none;
    padding: 0.8em;
    padding-right: 2em;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
    border: 1px solid #01559A;
    background-color: #fff;
}

input[type="text"]:focus {
    width: 18em;
    border: solid 0.1em #01559A;
    z-index: 1;
    background-color: #fff;
    cursor: text;
}

input[type="submit"] {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: inline-block;
    float: right;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    cursor: pointer;
    transition: .4s ease;
    background: url(./img/search.png) center no-repeat #01559A;
    background-size: 2em;
}

input[type="submit"]:hover {
    opacity: 1;
}


/*
Slider
*/

aside {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 3em;
    padding: 0.5em;
    background-color: #F7F7F7;
    border-top: solid 0.1em #F7F7F7;
    bottom: 0;
    font-family: 'Muli', sans-serif;
    font-size: 0.7em;
    color: #00D66C;
    vertical-align: middle;
}

@media (min-width: 10em) {
    .topmenu {
        display: none;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        transition: .4s ease;
    }
    main nav ul li {
        margin: 0.5em;
        flex-basis: 40%;
    }
}

@media (min-width: 30em) {
    body{
        transition: 0.5s ease;
    }
    header img {
        max-width: 100%;
    }
    #button {
        top: 0em;
        position: absolute;
        right: 0;
    }
    aside {
        top: 7em;
        max-width: 80vw;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        transition: .4s ease;
    }
    main nav ul li {
        margin: .5em;
        flex-basis: 25.5%;
    }
    select {
        background: url(./img/arrow.png) no-repeat;
        background-size: 1em;
        background-position: 15em 1.5em;
    }
}

@media (min-width: 70em) {
    body{
        transition: 0.5s ease;
    }
    #logo {
        width: 12em;
        height: 3em;
        margin-top: 1em;
        margin-left: 0em;
    }
    main header > img{
        height: 15em;
        
    }
    
    header > a > button {
        top: 20em;
        width: 13em;
        height: 3em;
        
    }
    aside {
        display: none;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0.2em;
        margin: 0.2em;
        transition: .4s ease;
    }
    main nav ul li {
        margin: .5em;
        flex-basis: 12.5%;
        margin: 0.2em;
    }

    .topmenu {
        width: 70%;
        height: 5em;
        margin: auto auto auto -em;
        display: flex;
        flex-direction: row;
        transition: .4s ease;
        background-size: 1.5em;
        background-position: right;
    }
    .topmenu > section {
        display: block;
        margin: 0em;
        background-color: #FF3268;
        border-radius: 2em;
        border: solid 1em #fff;
        flex-basis: 40%;
        padding: 0.2em;
    }
    .topmenu > section:nth-of-type(3),
    .topmenu > section:nth-of-type(4) {
        height: 4em;
    }
    .topmenu > section:nth-of-type(3) > label {
        margin-left: 7em;
        font-family: 'Muli', sans-serif;
        color: white;
        font-size: .7em;
    }
    .topmenu > section:nth-of-type(4) > label {
        margin-left: 5em;
        font-family: 'Muli', sans-serif;
        color: white;
        font-size: .7em;
    }
    .topmenu > section > select {
        max-height: 3em;
        border: none;
        margin-top: 0.6em;
        margin-left: .2em;
        background-size: 1em;
        font-size: .7em;
        background-position: 15em 1em;
        background-size: 1.3em;
    }
    .topmenu > section> input[type="range"] {
        width: 80%;
        margin: auto;
        height: 1em;
        margin-left: 1.5em;
        -webkit-appearance: none;
        border-radius: 2em;
    }
    .topmenu >section > input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 0.2em solid #FF3268;
        height: 1.8em;
        width: 1.8em;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        margin-top: -2px;
    }
   .topmenu > section:nth-of-type(3) > p {
       display: inline-block;
    }
    body > header > .topmenu > section > div {
        display:flex;
        flex-direction: row;
    }
    body > header > .topmenu > section > div > p:nth-of-type(2){
        position: relative;
        right: -9em;
        
    }